/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 label{
   font-size: 110%;
   color: black;
   margin: 5px 5px 15px 15px;
 }

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.profilesLetter {
    color: #585858;
    font-weight: bold;
}

a {
    color: teal;
}

.intro
{
  text-align: center;
  padding-top: 13%;
  padding-bottom: 13%;
  margin-bottom: 50px;
}

.intro h4
{
  text-align: center;
  margin-bottom: 15px;
}

footer
{
  padding-top: 0px;
  text-align: center;
}

.portal {
  display: inline-block;
  width: 40%;
  border: 1px solid black;
  background-color: #FFFFFF;
}
.portal_spacer {
  display: inline-block;
  width: 6%;

}
.portal_spacer-l {
  display: inline-block;
  width: 14%;
}
.home_container {
  border: 2px solid #0d47a1;
  margin-top: 20px;
  background-color: #DFF0D8;
}

.portal .btn {
  margin-left: 20px;
}

.employers{
  margin: 20px;
}
.alumni {
  margin: 20px;
}

.home_container:after {
  content: "";
  width: 100%;
  display: inline-block;
    }


.about_main {
  margin-left: 10%;
  width: 50%;
}
.about_people {
  padding: 0px 0px;
  width: 80%;
  margin-left: 10%;
  border-top: 1px solid #2874DD;
  border-bottom: 1px solid #2874DD;
  border-radius: 10;
}

.about_title {
  font-weight: bold;
  color: #26A69A;
}
.team2 {
  margin-left: 8%;
}
.underline {
  background-color: #2874DD;
  height: 3px;
  width: 53%;
  margin-left: 4%;
}
.logo_bar {
  padding: 40px 0px;
  margin: 30px 0px 40px 0px;
  text-align: center;
}
.intro_bar {
  padding: 20px 0px;
  text-align: center;
  margin-bottom: 35px;
  background-color: #FFFFFF;
}

.about_person {
  display: inline-block;
  margin: 25px;
}
.about_person img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.about_person p {
  margin: 0px;
}
.people_span {
  padding: 0px 20px;
}
.comment-number {
  font-size: 1rem;
}


.card-row {
  margin-bottom: 0;
}
.title-row {
  margin: 0;
}

.card-left > .valign {
  max-height: 80px;
}

.card-left > .valign > p {
  margin: 0;
  line-height: 1rem;
}

.tittle-row {
  margin-top: 80px;
}

@media screen and (min-width: 964px) {
  .card-row > .l1 {
    width: 4% !important;
  }

  .card-row > .l11 {
    width: 95% !important;
  }
}
