<div class="about">
  <div class ="about_main">
    <h3>About</h3>
    <p>Hack Reactor is an advanced software engineering immersive program. This site gives graduates of that program a place to track progress on their job search and message each other about job referrals.
    </p>
    </p>
    It also provides a place for employers and recruiters to search through the profiles of graduates and contact those who may be a good fit for their company.
    </p>
    <p>&nbsp;
    </p>
  </div>

 <hr>
  <div class="about_people">

    <div class="about_person">
      <img src="http://lh4.googleusercontent.com/-tdzxrNfapx0/AAAAAAAAAAI/AAAAAAAADWU/Q2uXyFvjrvk/photo.jpg">
      <br>
      <p class="about_title">Project Owner</p>
      <p>George Abou-Zolof</p>
    </div>
    <div class="about_person">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAPrAAAAJGFlYWM0YmVmLWIyNjgtNDliOS1iOTQ0LWYzN2U0NTc0ZGNmNw.jpg">
      <br>
      <p class="about_title">Scrum Master</p>
      <p>Oleg Umarov</p>
    </div>
    <div class="about_person">
      <img src="https://66e31098f4a7d1b271ec-3d63637c9f6c01845eb329e3ddda117c.ssl.cf1.rackcdn.com/5246/524551_half.jpg" class="circle responsive-img">
      <br>
      <p class="about_title">Development Team</p>
      <p>Rokas Zickevicius</p>
    </div>
    <div class="about_person">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/8/005/060/045/0b0546d.jpg">
      <br>
      <p class="about_title">Development Team</p>
      <p>Gabriel Meyr</p>
    </div>

  </div>
<hr>

  <div class="about_main">
  <p>&nbsp;
    </p>
    <p>
      The team  inherited the basic site architecture and concept from these talented developers:
    </p>
  </div>
  <div class ="team2">
    <p>
    <span class="people_span">Kat Ngo</span> | <span class="people_span">Jason Jenson</span> | <span class="people_span">Becky Jaimes</span> | <span class="people_span">Jason Jensen</span>
  </p>
  </div>
</div>
