
<div ng-controller="profileCtrl" class="center-align">
<a ng-show="" style='margin: 10px' class="btn btn-social btn-github text-center" href='/auth/github'>Update</a>
  <div class="">
    <h4>{{currentProfile.contact.name}}</h4>

    <div >
      <img height="200px" width="auto" style="border-radius: 50%;" ng-src="{{currentProfile.contact.profilePic}}">
      <br>
    </div>
    <h5>{{currentProfile.contact.name}}</h5>
    <label>Email</label><a ng-href="mailto:{{currentProfile.contact.email}}"> {{currentProfile.contact.email}} </a>
    <br/>
    <label>Languages </label> {{currentProfile.experience.languages}}
    <br/>
    <label>Location</label> {{currentProfile.contact.location}}
    <br/>
    <hr>
    <label>Companies</label> {{currentProfile.experience.companies}}
    <br/>
    <label>Blog</label>
    <a ng-href="{{currentProfile.links.blog}}" target="_blank">{{currentProfile.links.blog}} </a>
    <br/>
    <label>LinkedIn</label><a ng-href="{{currentProfile.links.linkedin}}" target="_blank"> {{currentProfile.links.linkedin}} </a>
    <br/>
    <hr>
    <label>Employment Status</label> {{currentProfile.about.status}}
    <br/>
    <label>About Me</label> {{currentProfile.about.summary}}
    <br/>
    <label>Project link</label>
    <a ng-href="{{currentProfile.projects.project1}}" target="_blank"> {{currentProfile.projects.project1}} </a>
    <br/>
    <label>Project link</label>
    <a ng-href="{{currentProfile.projects.project2}}" target="_blank"> {{currentProfile.projects.project2}} </a>
    <br/>
    <label>Project link</label>
    <a ng-href="{{currentProfile.projects.project3}}" target="_blank"> {{currentProfile.projects.project3}} </a>
    <br/>


  </div>
</div>
