<div class="container">
<div ng-controller="TrackerCtrl as tracker">
  <div class="row">
        <div class="input-field col offset-s3 s6">
          <input ng-model="searchText" id="jobfilter" type="text" class="validate">
          <label for="jobfilter">Search</label>
        </div>
      </div>
 <ul class="collapsible" data-collapsible="accordion">
   <li ng-repeat="job in jobs | filter:searchText">
     <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{job.name}}</div>
     <div class="collapsible-body">
       <table class="centered highlight responsive-table">
        <thead>
          <tr>
              <th data-field="date">Date</th>
              <th data-field="position">Position</th>
              <th data-field="location">Location</th>
              <th data-field="salary">Salary</th>
              <th data-field="phone">Phone</th>
              <th data-field="site">On-Site</th>
              <th data-field="offer">Offer</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>{{job.date}}</td>
            <td>{{job.position}}</td>
            <td>{{job.location}}</td>
            <td>{{job.salary}}</td>
            <td>{{job.phone}}</td>
            <td>{{job.site}}</td>
            <td>{{job.offer}}</td>
          </tr>
        </tbody>
      </table>
     </div>
    </li>
  </ul>
</div>
  <script type="text/javascript" charset="utf-8">
$('.collapsible').collapsible({
  accordion : false
});
  </script>
</div>